USE [TestEHS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[fnVoucherID]()
RETURNS NVARCHAR(13)
AS
BEGIN
	DECLARE @id NVARCHAR(15)
		SELECT @id = MAX(RIGHT(VoucherID,12)) FROM Voucher
		DECLARE @date varchar(8) = LEFT(@id,8)
		SET @id=right(@id,4)
		IF (@date = CONVERT(VARCHAR,GETDATE(),112) )
				SELECT @id = CASE
					WHEN @id is null THEN CONVERT(VARCHAR,GETDATE(),112) + '0001'
					WHEN @id >= 0 and @id<9 THEN CONVERT(VARCHAR,GETDATE(),112) + '000' + CONVERT(CHAR, CONVERT(INT, @id) + 1)
					WHEN @id >= 9 and @id<99 THEN CONVERT(VARCHAR,GETDATE(),112) + '00' + CONVERT(CHAR, CONVERT(INT, @id) + 1)
					WHEN @id >= 99 and @id <999 THEN CONVERT(VARCHAR,GETDATE(),112) + '0' + CONVERT(CHAR, CONVERT(INT, @id) + 1)
					WHEN @id >= 999 and @id<9999 THEN CONVERT(VARCHAR,GETDATE(),112) + '' + CONVERT(CHAR, CONVERT(INT, @id) + 1)
					END
		ELSE 
			SELECT @id = CONVERT(VARCHAR,GETDATE(),112) + '0001'
	RETURN 'V'+@id
END
GO
